.side_bar
  .side_bar__top
    .side_bar__top__contents
      .side_bar__top__contents__name
        おじさん
      .side_bar__top__contents__btns
        =link_to "#", class: "side_bar__top__contents__btns__icon" do
          =icon('far','edit',class: "side_bar__top__contents__btns__icon side_bar__top__contents__btns__icon--edit")
        =link_to "#", class: "side_bar__top__contents__btns__icon" do
          =icon('fas','cog',class: "side_bar__top__contents__btns__icon side_bar__top__contents__btns__icon--cog")
  .side_bar__main
    .side_bar__main__group
      .side_bar__main__group__name
        おじさん
      .side_bar__main__group__message
        あああああああああ