.wrapper{
  height: 100vh;
  display: flex;

  .main_chat{
    width: calc(100vw - 300px);
    &__header{
      background-color: white;
      border-bottom: #eeeeee;
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      &__component{
        &__groupname{
          color:black;
          font-size: 20px;
          padding-top: 35px;
        }
        &__member{
          color: gray;
          font-size: 12px;
          padding-top: 15px;
          display: flex;

          &__member-name{
            font-size: 13px;
          }
        }
      }
      &__send{
        display: block;
        border: 1px solid #38AEF0;
        color: #38AEF0;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        text-decoration: none;
        &--btn{
          color: #38AEF0;
          font-size: 16px;
          text-decoration: none;
          padding-left: 20px;
          padding-right: 20px;
          line-height: 40px;
        }
      }
    }
    &__center{
      background-color: #fafafa;
      height: calc(100vh - 100px - 90px);
      padding-left: 40px;
      padding-top: 35px;
      box-sizing: border-box;
      overflow: scroll;
      &__messages_list{
        &__info{
          display: flex;
          justify-content: left;
          &__name{
            color: black;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: lightgray;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__message{
          color: #434A45;
          font-size: 14px;
          margin-top: 12px;
          margin-bottom: 46px;
        }
      }
    }
    &__bottom{
      background-color: #d2d2d2;
      height: 90px;
      &__form{
        display: flex;
        padding: 20px 40px;
        &__input_box{
          display: flex;
          width: 100%;
          align-items: center;
          color: lightgray;
          &__text{
            width: 100%;
            height: 50px;
            padding-left: 10px;
            position: relative;
          }
          &__image{
            font-size: 25px;
            position: absolute;
            right: 160px;
            left: auto;
            line-height: 50px;
            &__file{
              display: none;
            }
          }
        }
        &__submit_btn{
          background-color: #38AEF0;
          color: white;
          height: 50px;
          width: 100px;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 15px;
        }
      }
    }
  }
}

